<div class="container">
  <h4 class="mb-3">Certificados</h4>

  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Fecha</th>
          <th scope="col">Tipo</th>
          <th scope="col">Ordenado por</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of certificados; let i = index">
          <td lass="sorting_1">{{ item.fecha }}</td>
          <td lass="sorting_1">{{ item.tipo }}</td>
          <td lass="sorting_1">{{ item.medico }}</td>
          <td lass="sorting_1">
            <button (click)="setUrl(item.url)" class="btn btn-datatable btn-icon btn-transparent-dark mr-2">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M20 6L9 17L4 12" stroke="black" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round" />
              </svg>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<iframe *ngIf="urlCertificado != ''" [src]="urlCertificado | safe" width="100%" height="500px">