<p>consultas works!</p>
<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">

    <div class="carousel-inner">
      <div class="carousel-item active">
    
  
        <img class="bd-placeholder-img" src="https://fondosmil.com/fondo/6745.jpg" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg">
        
  
  
        https://fondosmil.com/fondo/6745.jpg
        https://thumbs.dreamstime.com/b/stethoscope-protective-mask-medicine-packaging-blue-background-medical-banner-template-copy-space-header-layout-209657630.jpg
      
    
        <div class="container">
          <div class="carousel-caption text-start">
            <h1 style="color:black">Consultas</h1>
            <p style="color:gray">Some representative placeholder content for the first slide of the carousel.</p>
            <p><a class="btn btn-lg btn-primary" href="#">Sign up today</a></p>
          </div>
        </div>
      </div>
  
    </div>
  
  </div>
  
  
  
  <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
  
  </div>
  
  
  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->
  
  
  <!-- START THE FEATURETTES -->
  
  <div class="py-4 container m-auto">

    <form class="needs-validation" >

        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="text-center">Solicitud</h1>
            <form class="needs-validation" novalidate>
              <div class="row g-3">

                <div class="col-12">
                    <label for="username" class="form-label">Cédula</label>
                    <div class="input-group has-validation">
                      <span class="input-group-text">CI</span>
                      <input type="text" placeholder="XXXXXXXXXX"class="form-control" id="username"  required>
                    <div class="invalid-feedback">
                        Your username is required.
                      </div>
                    </div>
                  </div>
      
                <div class="col-sm-6">
                  <label for="firstName" class="form-label">Nombres</label>
                  <input type="text" class="form-control" id="firstName" placeholder="" value="" required>
                  <div class="invalid-feedback">
                    Valid first name is required.
                  </div>
                </div>
    
                <div class="col-sm-6">
                  <label for="lastName" class="form-label">Apellidos</label>
                  <input type="text" class="form-control" id="lastName" placeholder="" value="" required>
                  <div class="invalid-feedback">
                    Valid last name is required.
                  </div>
                </div>
    
             
                <div class="col-sm-6">
                  <label for="email" class="form-label">Email <span class="text-muted">(Optional)</span></label>
                  <input type="email" class="form-control" id="email" placeholder="you@example.com">
                  <div class="invalid-feedback">
                    Please enter a valid email address for shipping updates.
                  </div>
                </div>

                <div class="col-sm-6">
                    <label for="zip" class="form-label">Teléfono</label>
                    <input type="text" class="form-control"  name="telefono" required >
                    <div class="invalid-feedback">
                      Zip code required.
                    </div>
                </div>

                <div class="col-md-6">
                    <label for="lastName" class="form-label">Fecha</label>
                    <input type="date" class="form-control"   name="dob" required>
                    <div class="invalid-feedback">
                      Valid last name is required.
                    </div>
                  </div>

                  <div class="col-md-6">
                    <label for="state" class="form-label">Área</label>
                    <select class="form-select"   name="groLegal" required >
                      <option value="">Choose...</option>
                      <option>Medicina general - Dr. Manuel Zambrano</option>            
                      <option>Endocrinología - Dr. Andrés Zapata</option>
                      <option>Cardiología - Dr. Robert Mendieta</option>
                      <option>Pediatría - Dra. Margorie Coloma</option>
                      <option>Laboratorio - Dr. Luis S Masache</option>
                      <option>Ginecología - Dr. Ernesto González</option>
                      <option>Traumatología - Dr. Carlos Parrales</option>
                      <option>Rehabilitación física - Dra. Sara Pin</option>
                    </select>
                    <div class="invalid-feedback">
                      Please provide a valid state.
                    </div>
                  </div>
        

                <div class="col-md-12">
                    <label for="zip" class="form-label">Motivo</label>
                    <input type="text-area" class="form-control"  name="motivo" required >
                    <div class="invalid-feedback">
                      Zip code required.
                    </div>
                  </div>
    
              </div>
    
  
              <hr class="my-4">
    
              
            </form>
            <button (click)="enviarSolicitud()" class="w-100 btn btn-lg btn-primary" type="submit">Enviar</button>

          </div>
  
   


   </form>  

 


   
   
   </div><!-- /.container -->