<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="bd-placeholder-img" src="https://www.corsura.edu.co/gallery_gen/e1e5f36257c75672828c58a0dd935c30.png" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg">
        <div class="container">
          <div class="carousel-caption text-start">
            <h1 style="color:black">Preguntas frecuentes</h1>
            <p style="color:gray">Some representative placeholder content for the first slide of the carousel.</p>
            <p><a class="btn btn-lg btn-primary" href="#">Sign up today</a></p>
          </div>
        </div>
      </div>
    </div>
</div>
  
  
<div class="container marketing">

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h1>¿Dónde se encuentran ubicados? </h1>
      <p class="fs-5 col-md-8">Estamos ubicados en Guayaquil, Barrio: Los Marinos. Calle: 18I NO y Calle A. <br> Frente a banco del barrio</p>
    </div>
  </div>

  <hr class="col-3 col-md-2 mb-5">

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h1>¿Cuá es el horario de atención? </h1>
      <p class="fs-5 col-md-8">Atendemos todos los días de la semana de 7 am hasta las 9 pm</p>
    </div>
  </div>

  <hr class="col-3 col-md-2 mb-5">

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h1>¿Cúanto tiempo demora la entrega de resultados? </h1>
      <p class="fs-5 col-md-8">Cada examen tiene un tiempo predefinido para la entrega de los resultados, porfavor revisar en la sección de "Exámenes"  <br> Frente a banco del barrio</p>
    </div>
  </div>

  <hr class="col-3 col-md-2 mb-5">

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h1>¿Brindan servicio a domicilio? </h1>
      <p class="fs-5 col-md-8">
        Si, el servicio puede ser a domicilio pero tiene un costo extra. Este costo dependerá de varios factores
      </p>
    </div>
  </div>

  <hr class="col-3 col-md-2 mb-5">

</div>